<style>
  .title{ font-size: 24px; color: #36f35b; } h3{ color: #e4275c; font-size:
  18px; } blockquote{ padding: 16px; background-color: rgb(183, 251, 183); } p{
  color: #121212 } p, span { color: #0f172a; }

</style>

<h1 class='title'>Ol치, {{adminName}}!</h1>

<h3>Infelizmente, n칚o temos boas not칤cias 游땞</h3>

<p>
  O usu치rio
  {{username}}
  acabou de ser removido da comunidade
  {{communityName}}
  pelo admin
  {{adminUsername}}. Segundo o admin:
</p>

<blockquote>
  {{reason}}
</blockquote>

<p>Qualquer outra d칰vida pode contatar o admin. Caso concordem em retornar o
  usu치iro para a comunidade, contatem tamb칠m o usu치iro que foi removido.</p>

<p>Desde j치, agradecemos seu apoio! 游녦</p>