<style>
  .title{ font-size: 24px; color: #36f35b; } h3{ color: #e4275c; font-size:
  18px; } blockquote{ padding: 16px; background-color: rgb(183, 251, 183); } p{
  color: #121212 } p { color: #0f172a; }

</style>

<h1 class='title'>Ol치, {{adminName}}!</h1>

<h3>Infelizmente, n칚o temos boas not칤cias 游땞</h3>

<p>
  O usu치rio:
  {{username}}
  acabou de deixar a comunidade
  {{communityName}}

</p>

{{#if reason}}
  <blockquote>
    {{reason}}
  </blockquote>

  <p>Analise a situa칞칚o, veja se isso realmente est치 ocorrendo e tome os
    procedimentos padr칚o</p>

{{else}}

  <p>{{username}}
    n칚o quis informar o motivo. Mas analise a situa칞칚o da comunidade e verifique
    se n칚o ocorreu algum problema</p>

{{/if}}

<p>Desde j치, agradecemos seu apoio! 游녦</p>